* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    background-color: #121212; /* Темный фон для всего */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    border: 0;
    cursor: pointer;
}

/* left container */
.left_container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw; 
    color: white;
    font-size: 1.2rem;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #303030;
}

/* logo */
.logo_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    gap: 5px;
}

.logo_container h1 {
    font-size: 16px;
}

/* search place */
.seach_header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seach_header input {
    font-weight: 100;
    font-size: medium;
    height: 30px;
    width: 90%;
    padding: 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
}

.seach_header input::placeholder {
    color: #BCBCBC;
}

.seach_header i {
    padding-left: 6%;
    position: absolute;
    left: 15px;
    color: #BCBCBC;
    font-size: 16px;
}

/* contacts */
.contacts_container {
    width: 100%;
    flex-grow: 1; 
    overflow-y: auto;
    height: 83%;
}

.contacts_container h2 {
    margin: 0;
}

.contacts_container ul {
    list-style: none;
    padding: 0;
}

.contacts_container li {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 5px;
}

.contacts_container img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.text-in-contact {
    margin: 0;
    padding-top: 0;
    display: grid;
}

.about_contact {
    font-size: small;
    color: gray;
}

.scroll_container {
    flex-grow: 1; 
    overflow-y: auto;
    width: 100%;
}

.scroll button {
    width: 100%;
    background: transparent;
    text-align: left;
    padding: 5px 10px;
}

.scroll button:hover {
    background: purple;
    transition: all 0.3s ease;
}

.scroll p {
    color: white;
    padding-left: 15px;
}

.profile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #303030;
    background-color: black;
    flex-shrink: 0;
}

.profile_btn {
    border-radius: 50%;
}

#profile_logo {
    border-radius: 50%;
}

#chats {
    margin: 18px 0;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #BCBCBC;
}
