* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a {
    color: black;
    text-decoration: none;
}

.main {
    display: flex;

}

.right_container {
    position: relative;
    padding-top: 253px;
    display: flex;
    flex-direction: column;
}

.left_container {
    display: flex;
    background:black;
    color: white;
    flex-direction: row;
    width: 60%;

}

.logo img {
    width: 541px
}

.hello h1 {
    font-weight: bold;
    font-size: 2em
}

.hello h2 {
    font-weight: normal;
    font-size: 1em;
}

.input_data {
    justify-content: space-between;
    padding-top: 3em;
}

.input_data input{
    border: none;
}